@page "/"

<PageTitle>Home</PageTitle>

<h1>YT Playlist Manager</h1>
<span> Welcome to YT Playlist Manager - login via your Google account to access management of playlists, more sortings and recurring jobs.</span>
