@page "/myplaylist/{Id}"
@using Google.Apis.Auth.OAuth2
@using Google.Apis.Services
@using Google.Apis.Util.Store
@using Google.Apis.YouTube.v3
@using Google.Apis.Upload;
@using Google.Apis.YouTube.v3.Data;
@inject IConfiguration configuration;

<h3>MyPlaylist - @Id</h3>

@foreach (var item in items)
{
    <p>@item</p>
}

@code {
    [Parameter]
    public string Id { get; set; }

    public List<string> items = new();

    protected override async Task OnInitializedAsync()
    {
        var applicationName = "YT Playlist Manager";
        var secrets = new ClientSecrets
            {
                ClientId = configuration["Authentication:Google:ClientId"],
                ClientSecret = configuration["Authentication:Google:ClientSecret"],
            };

        UserCredential credential = await GoogleWebAuthorizationBroker.AuthorizeAsync(
            secrets,
            new[] { YouTubeService.Scope.YoutubeReadonly },
            "Tymonello",
            CancellationToken.None,
            new FileDataStore(applicationName)
        );

        var youtubeService = new YouTubeService(new BaseClientService.Initializer()
            {
                HttpClientInitializer = credential,
                ApplicationName = applicationName,
            });

        var playlistItemsListRequest = youtubeService.PlaylistItems.List("snippet,contentDetails");
        playlistItemsListRequest.PlaylistId = Id;
        playlistItemsListRequest.MaxResults = 50;

        var playlistItemsListResponse = playlistItemsListRequest.Execute();

        foreach (var playlistItem in playlistItemsListResponse.Items)
        {
            items.Add(playlistItem.Snippet.Title);
        }
    }
}
